{% extends 'base.html.twig' %}

{% form_theme edit_form _self %}

{% block file_widget %}
    {% spaceless %}

        {% if file_url is not null %}
            <div>
                <a href="/{{ file_url }}" data-toggle="lightbox" {% if file_url|ext|ext_type == 'image' %}data-type="image"{% else %}data-type="url"{% endif %}><i class="fa fa-fw fa-file-{{ file_url|ext|ext_type }}-o"></i>/{{ file_url }}</a>
                &nbsp;<a href="#" class="toggle btn btn-default btn-sm">Changer</a>
            </div>
            <div id="file_field" style="display:none">
                {{ block('form_widget') }}
                <a href="#" class="toggle btn btn-danger">Annuler</a>
            </div>
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block body %}
    <h1>Inscription edit</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}
        {% for option in edit_form.options %}
            {{ form_widget(option) }}
        {% endfor %}
        {{ form_widget(edit_form.options) }}
    {% if is_granted("ROLE_ADMIN") %}
        <hr>
        <div class="col-md-6">{{ form_row(edit_form.status) }}</div>
        <div class="col-md-6">{{ form_row(edit_form.payement_status) }}</div>
        <div class="clearfix"></div>
        {{ form_row(edit_form.admin_comment) }}
        <hr>
    {% endif %}

        {% if race.numberOfAthlete > 1 %}
            <h3>Athlètes</h3>
            <ul class="nav nav-tabs">
                {% for i in 1..race.numberOfAthlete %}
                    <li role="presentation" {% if i == 1 %}class="active"{% endif %}><a href="#athlete{{ i }}" aria-controls="athlete{{ i }}" role="tab" data-toggle="tab">Athlète #{{ i }}</a></li>
                {% endfor %}
            </ul>
        {%  endif %}
        <div class="athletes tab-content">
            {% for athlete in edit_form.athletes %}
                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}in active{% endif %} athlete" id="athlete{{ loop.index }}">
                    {% if race.numberOfAthlete > 1 %}
                        <h2>Athlète #{{ loop.index }}</h2>
                    {%  endif %}
                    <div class="col-md-6">{{ form_row(athlete.firstname) }}</div>
                    <div class="col-md-6">{{ form_row(athlete.lastname) }}</div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">{{ form_row(athlete.email) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.gender) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.dob) }}</div>
                    <div class="clearfix"></div>
                    {{ form_row(athlete.address.line_1) }}
                    {{ form_row(athlete.address.line_2) }}
                    {#{{ form_row(athlete.address.line3) }}#}
                    {#{{ form_row(athlete.address.county_province) }}#}
                    <div class="col-md-4">{{ form_row(athlete.address.zip_or_postcode) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.address.city) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.address.country) }}</div>
                    <div class="clearfix"></div>
                    {{ form_row(athlete.phone) }}
                    <div class="clearfix"></div>
                    {% if race.documentRequired %}
                        {{ form_row(athlete.document) }}
                    {% endif %}
                    {% for option in athlete.options %}
                        {{ form_widget(option) }}
                    {% endfor %}
                    {{ form_widget(athlete.options) }}
                </div>
            {% endfor %}
        </div>
        <hr>
        {{ form_row(edit_form.signed) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <hr>
            <a href="{{ path('race_show',{"slug":inscription.race.slug}) }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour à la course</a>
            <a href="{{ path('inscription_show', { 'id': inscription.id , 'secret' : inscription.salt }) }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour à l'inscription</a>
            {% if is_granted("ROLE_ADMIN") %}
                {% if (inscription.race.event.owner == app.user) or is_granted("ROLE_SUPER_ADMIN") %}
                    {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i>Supprimer</button>
                    {{ form_end(delete_form) }}
                {% endif %}
            {% endif %}
{% endblock %}
