{% extends 'base.html.twig' %}

{% form_theme edit_form _self %}

{% block file_widget %}
    {% spaceless %}

        {% if file_url is not null %}
            <div>
                <a href="/{{ file_url }}" data-toggle="lightbox" {% if file_url|ext|ext_type == 'image' %}data-type="image"{% else %}data-type="url"{% endif %}><i class="fa fa-fw fa-file-{{ file_url|ext|ext_type }}-o"></i>/{{ file_url }}</a>
                &nbsp;<a href="#" class="toggle btn btn-default btn-sm">Changer</a>
            </div>
            <div id="file_field" style="display:none">
                {{ block('form_widget') }}
                <a href="#" class="toggle btn btn-danger">Annuler</a>
            </div>
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block body %}
    <h1>Inscription edit</h1>
    {{ include('inscription/form.html.twig', { 'form': edit_form }) }}
    <hr>
    <a href="{{ path('race_show',{"slug":inscription.race.slug}) }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour à la course</a>
    <a href="{{ path('inscription_show', { 'id': inscription.id , 'secret' : inscription.salt }) }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour à l'inscription</a>
    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
        {% if (inscription.race.event.owner == app.user) or is_granted("ROLE_SUPER_ADMIN") %}
            <a href="{{ path('inscription_delete', { 'id': inscription.id }) }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour à l'inscription</a>
        {% endif %}
    {% endif %}
{% endblock %}
