{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('inscription_show', { 'id': inscription.id, 'secret' : inscription.salt }) }}">{{ inscription.id }}</a>{% endif %}</td>
                <td>{{ inscription.title }}</td>
                <td>{% if inscription.created %}{{ inscription.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if inscription.updated %}{{ inscription.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <ul>
                        <li>
                            <a href="{{ path('inscription_show', { 'id': inscription.id , 'secret' : inscription.salt }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inscription_edit', { 'id': inscription.id , 'secret' : inscription.salt }) }}">edit</a>
                        </li>
                    </ul>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
