{# src/Plopcom/InscriptionsBundle/Resources/views/Inscription/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
   Inscription {{ race.title }}
{% endblock %}

{% block body %}
    <h1> Nouvelle inscription <b>{{ race.title }}</b> </h1>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {% if is_granted("ROLE_ADMIN") %}
            <div style="display: none;">
                {{ form_row(form.status) }}
                {{ form_row(form.payement_status) }}
                {{ form_row(form.admin_comment) }}
            </div>
        {% endif %}
        {% if race.numberOfAthlete > 1 %}
        <h3>Athlètes</h3>
        <ul class="nav nav-tabs">
            {% for i in 1..race.numberOfAthlete %}
            <li role="presentation" {% if i == 1 %}class="active"{% endif %}><a href="#athlete{{ i }}" aria-controls="athlete{{ i }}" role="tab" data-toggle="tab">Athlète #{{ i }}</a></li>
            {% endfor %}
        </ul>
        {%  endif %}
        <div class="athletes tab-content">
            {% for athlete in form.athletes %}
                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}in active{% endif %} athlete" id="athlete{{ loop.index }}">
                {% if race.numberOfAthlete > 1 %}
                    <h2>{% if loop.index == 1 %} Vous {% else %} Coéquipier #{{ loop.index }} {% endif %}</h2>
                {%  endif %}
                    <div class="col-md-6">{{ form_row(athlete.firstname) }}</div>
                    <div class="col-md-6">{{ form_row(athlete.lastname) }}</div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">{{ form_row(athlete.email) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.gender) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.dob) }}</div>
                    <div class="clearfix"></div>
                    {{ form_row(athlete.address.line_1) }}
                    {{ form_row(athlete.address.line_2) }}
                    {#{{ form_row(athlete.address.line_3) }}#}
                    {#{{ form_row(athlete.address.county_province) }}#}
                    <div class="col-md-4">{{ form_row(athlete.address.zip_or_postcode) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.address.city) }}</div>
                    <div class="col-md-4">{{ form_row(athlete.address.country) }}</div>
                    <div class="clearfix"></div>
                    {{ form_row(athlete.phone) }}
                    <div class="clearfix"></div>
                    {% if race.documentRequired %}
                        {{ form_row(athlete.document) }}
                    {% endif %}
                    {% for option in athlete.options %}
                        {{ form_widget(option) }}
                    {% endfor %}
                    {{ form_widget(athlete.options) }}
                </div>
            {% endfor %}
        </div>
    <hr>
    {% for option in form.options %}
        {{ form_widget(option) }}
    {% endfor %}
    {{ form_widget(form.options) }}
        {{ form_row(form.signed) }}
        {{ form_row(form.save) }}
        {{ form_row(form.reset) }}
    {{ form_end(form) }}
{% endblock %}