{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription pour <b>{{ inscription.race.title }}</b></h1>

    <h2>{{ inscription.title }}</h2>
    <br>
    {% if inscription.updated %} Dernière mise à jour le {{ inscription.updated|date('d M Y à H:i:s') }}{% endif %}
    <hr>
    <div class="row">
        {% for athlete in inscription.athletes %}
            {{ include('athlete/athlete_details.html.twig', { 'athlete': athlete }) }}
        {% endfor %}
    </div>
    <br>
    Status inscription : <b>{{ inscription.status|human_status|raw }}</b> <br>
    Status payement : <b>{{ inscription.payementStatus|human_payement_status|raw }}</b>
    <hr>
    {% if (inscription.payementStatus == 2 or inscription.payementStatus == 0) %}
        {% if inscription.race.paypalButtonUrl %}
            <input type="hidden" id="invoice_id" value="{{ inscription.id }}">
            <input type="hidden" id="nom" value="{{ inscription.athletes.first.fullname }}">
            <a class="btn btn-success" href="#" id="pay" data-notifyurl="{{ path('race_paypalipn',{'slug' : inscription.race.slug }) }}" data-payurl="{{ inscription.race.paypalButtonUrl }}">Payer et Valider</a>
            <h3><i class="fa fa-fw fa-cc-paypal"></i>&nbsp;<i class="fa fa-fw fa-cc-mastercard"></i>&nbsp;<i class="fa fa-fw fa-cc-visa"></i>&nbsp;<i class="fa fa-fw fa-credit-card"></i></h3>
            <hr>
        {% endif %}
    {% endif %}
    <a href="{{ path('race_show',{'slug' : inscription.race.slug }) }}" class="btn btn-default"><i class="fa fa-chevron-left fa-fw"></i>Retour {{ inscription.race.title }}</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('inscription_edit', { 'id': inscription.id, 'secret' : inscription.salt }) }}" class="btn btn-primary"><i class="fa fa-pencil fa-fw"></i>Editer cette inscription</a>
        <br>
        {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i>Supprimer</button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
