{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription pour <b>{{ inscription.race.title }}</b></h1>

    <h2>{{ inscription.title }}</h2>
    <h3>Catégorie : {{ inscription.categorie }}</h3>
    <br>
    {% if inscription.updated %} Dernière mise à jour le {{ inscription.updated|date('d M Y à H:i:s') }}{% endif %}
    <hr>
    <div class="row">
        {% for athlete in inscription.athletes %}
            {{ include('athlete/athlete_details.html.twig', { 'athlete': athlete }) }}
        {% endfor %}
    </div>
    <div class="row">
        {% for athlete in inscription.athletes %}
            {{ include('athlete/athlete_options_details.html.twig', { 'athlete': athlete }) }}
        {% endfor %}
    </div>
    {% if inscription.options | length %}
        <div class="row">
            <div class="col-md-6">
                <h4>Options inscription</h4>
                <ul>
                    {% for option in inscription.options %}
                        {% if option.raceOption.isDocument %}
                            <li>{{ option.raceOption.title }} : <a href="/{{ option.document.webPath }}" data-toggle="lightbox"><i class="fa fa-fw fa-file-image-o"></i>{{ option.document.webPath }}</a></li>
                        {% else %}
                            {% if option.raceOption.isCheckbox %}
                                <li>{{ option.raceOption.title }} : <strong>{{ option.value is not empty ? 'OUI' : 'NON' }}</strong></li>
                            {% else %}
                                <li>{{ option.raceOption.title }} : <strong>{{ option.value is not empty ? option.value : 'N/A' }}</strong></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if inscription.adminComment %}
        <div class="alert alert-info" role="alert">{{ inscription.adminComment }}</div>
    {% endif %}
    <br>
    Status inscription : <b>{{ inscription.status|human_status|raw }}</b> <br>
    Status paiment : <b>{{ inscription.payementStatus|human_payement_status|raw }}</b>
    <hr>

    {% if (inscription.payementStatus == 2 or inscription.payementStatus == 0) %}
        <p><b>Total : </b> {{ inscription.total }} €</p>
        <form action="{{ paypal_url }}" method="post" target="_top">
            <input type="hidden" name="cmd" value="_xclick">
            {#<input type="hidden" name="hosted_button_id" value="{{ inscription.race.paypalHostedButtonId }}">#}
            <input type="hidden" name="notify_url" value="{{ url('race_paypalipn',{'slug' : inscription.race.slug }) }}">
            <input type="hidden" name="business" value="{{ inscription.race.event.paypalAccountEmail }}">
            <input type="hidden" name="item_name" value="{{ inscription.race.slug }}">
            <input type="hidden" name="item_number" value="{{ inscription.race.id }}">
            <input type="hidden" name="invoice" value="{{ inscription.id }}">
            <input type="hidden" name="amount" value="{{ inscription.total }}">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="currency_code" value="EUR">

            <input type="hidden" name="first_name" value="{{ inscription.athletes.0.firstname }}">
            <input type="hidden" name="last_name" value="{{ inscription.athletes.0.lastname }}">
            <input type="hidden" name="address1" value="{{ inscription.athletes.0.address.line1 }}">
            <input type="hidden" name="address2" value="{{ inscription.athletes.0.address.line1 }}">
            <input type="hidden" name="city" value="{{ inscription.athletes.0.address.city }}">
            <input type="hidden" name="state" value="{{ inscription.athletes.0.address.countyProvince }}">
            <input type="hidden" name="zip" value="{{ inscription.athletes.0.address.zipOrPostcode }}">

            <input type="hidden" name="email" value="{{ inscription.athletes.0.email }}">

            {#<input type="hidden" id="nom" name="name" value="{{ inscription.athletes.first.fullname }}">#}
            <button type="submit" class="btn btn-success">Payer et Valider</button>
        </form>
        <h3><i class="fa fa-fw fa-cc-paypal"></i>&nbsp;<i class="fa fa-fw fa-cc-mastercard"></i>&nbsp;<i class="fa fa-fw fa-cc-visa"></i>&nbsp;<i class="fa fa-fw fa-credit-card"></i></h3>
        <hr>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('race_show',{'slug' : inscription.race.slug }) }}" class="btn btn-default"><i class="fa fa-chevron-left fa-fw"></i>Retour {{ inscription.race.title }}</a>
        {% endif %}
    {% else %}
        <a href="{{ path('race_show',{'slug' : inscription.race.slug }) }}" class="btn btn-default"><i class="fa fa-chevron-left fa-fw"></i>Retour {{ inscription.race.title }}</a>
    {% endif %}
    {#{% if (is_granted('ROLE_ADMIN') and inscription.adminComment) %}
        <a href="{{ path('inscription_notify',{ 'id': inscription.id, 'secret' : inscription.salt }) }}" class="btn btn-default"><i class="fa fa-paper-plane fa-fw"></i>Notifier par email</a>
    {% endif %}#}
    <a href="{{ path('inscription_edit', { 'id': inscription.id, 'secret' : inscription.salt }) }}" class="btn btn-primary"><i class="fa fa-pencil fa-fw"></i>Editer cette inscription</a>
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i>Supprimer</button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
