<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% block meta %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}RaidsAventure.fr Inscriptions{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet">
    {#<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet">#}
    <!-- font-awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('bundles/plopcominscriptions/css/ekko-lightbox.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/plopcominscriptions/css/inscriptions.css') }}?201901171207" />
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include '_partial/top_menu.html.twig' %}


<div class="container">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert"><i class="fa fa-fw fa-exclamation-triangle"></i>{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" role="alert"><i class="fa fa-check fa-fw"></i>{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert"><i class="fa fa-check fa-fw"></i>{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    {% block fos_user_content %}{% endblock %}

</div><!-- /.container -->

<footer class="footer">
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ asset('bundles/plopcominscriptions/js/ekko-lightbox.min.js') }}"></script>
<script src="{{ asset('bundles/plopcominscriptions/js/bootstrap-wysiwyg.js') }}"></script>
<script src="{{ asset('bundles/plopcominscriptions/js/jquery.hotkeys.js') }}"></script>
<script src="{{ asset('bundles/plopcominscriptions/js/inscriptions.js') }}?201901170917"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
