{% extends 'home.html.twig' %}

{% block body %}
    <h1>{{ conf.pageTitle }}</h1>

    {{ conf.content|raw }}
    {{ conf.contactName }} <a href="mailto:{{ conf.contactEmail|email_encode|raw  }}">{{ conf.contactEmail|email_encode|raw }}</a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <h2>[SUPER_ADMIN]</h2>
        <a href="{{ path('type_index') }}" class="btn btn-default">
            Gérer les types de course
        </a>
        <hr>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        <h2>[ADMIN] Mes événements</h2>
        <div class="events-list row">
            {% for event in my_events %}
                {{ include('event/event_details.html.twig', { 'event': event }) }}
            {% endfor %}
        </div>

        <a href="{{ path('event_new') }}" class="btn btn-default">
            <i class="fa fa-fw fa-plus"></i>
            Créer un nouvel événement
        </a>
        <hr>
    {% endif %}

    {% if events_with_public_races | length %}
        <h2>&Eacute;vénements en cours</h2>
        <div class="events-list  row">
            {% for event in events_with_public_races %}
                {{ include('event/event_details.html.twig', { 'event': event }) }}
            {% endfor %}
        </div>
    {% endif %}

    {% if past_events | length %}
        <h2>&Eacute;vénements passés</h2>
        <table class="table">
            <tbody>
                {% for event in past_events %}
                    {{ include('event/event_details_row.html.twig', { 'event': event }) }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <h2>[SUPER_ADMIN] Tous les événements</h2>
        <div class="events-list  row">
            {% for event in events %}
                {{ include('event/event_details.html.twig', { 'event': event }) }}
            {% endfor %}
        </div>
        <hr>
    {% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
