{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ type.title }}</h1>

    <div class="row">
        <p>{{ type.description }}</p>
    </div>

    {% if public_races | length %}
    <h2>Toutes les courses de <span class="label label-default">{{ type.title }}</span> à venir</h2>
    <div class="races-list row">
        {% for race in public_races %}
            {{ include('race/race_details.html.twig', { 'race': race }) }}
        {% endfor %}
    </div>
    {% endif %}

    {% if past_public_races | length %}
    <h2>Les courses de <span class="label label-default">{{ type.title }}</span> passées</h2>
    <div class="races-list row">
        {% for race in past_public_races %}
            {{ include('race/race_details.html.twig', { 'race': race }) }}
        {% endfor %}
    </div>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <h2>[SUPER_ADMIN] Les courses de <span class="label label-default">{{ type.title }}</span> non public</h2>
        <div class="races-list row">
            {% for race in private_races %}
                {{ include('race/race_details.html.twig', { 'race': race }) }}
            {% endfor %}
        </div>

        <a href="{{ path('type_index') }}" class="btn btn-default"><i class="fa fa-chevron-left fa-fw"></i>Retour à la liste des types de course</a>
        <br>
        <a href="{{ path('type_edit', { 'id': type.id }) }}" class="btn btn-primary"><i class="fa fa-pencil fa-fw"></i>Editer ce type</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}

    {% endif %}
{% endblock %}
