{% extends 'base.html.twig' %}

{% block title %}
    Editer course
{% endblock %}

{% form_theme edit_form _self %}

{% block file_widget %}
    {% spaceless %}

        {% if file_url is not null %}
            <a href="/{{ file_url }}" data-toggle="lightbox"><i class="fa fa-fw fa-file-{{ file_url|ext|ext_type }}-o"></i>{{ file_name }}</a>
            {{ block('form_widget') }}
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block body %}
    <h1>Editer course</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.slug) }}
        {{ form_row(edit_form.type) }}
        {% if race.illustration %}
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="/{{ race.illustration.webPath }}" class="thumbnail" data-toggle="lightbox">
                    <img src="/{{ race.illustration.webPath }}" alt="{{ race.title }}">
                </a>
            </div>
        </div>
        {% endif %}
        {{ form_row(edit_form.illustration) }}
        <div class="clearfix"></div>
        <div class="col-md-4 col-md-offset-4">
            {{ form_row(edit_form.date) }}
            {{ form_row(edit_form.entry_fees) }}
            {{ form_row(edit_form.public) }}
            {{ form_row(edit_form.open) }}
            {{ form_row(edit_form.document_required) }}
        </div>
        <div class="clearfix"></div>
        {{ include('default/wysiwyg.html.twig', { 'field': edit_form.description,'id': 'race_description' }) }}

        {{ form_row(edit_form.max_attendee) }}
        {{ form_row(edit_form.number_of_athlete) }}
        {{ form_row(edit_form.distance) }}
        {{ form_row(edit_form.elevation) }}
        {{ form_row(edit_form.rules) }}
    <br>
        <button type="submit" class="btn btn-primary" >Sauver</button>
    <br>
    {{ form_end(edit_form) }}

    <table>
        <tr>
            <td>
                <a href="{{ path('race_show',{'slug':race.slug}) }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour</a>
            </td>
            <td>
                {{ form_start(delete_form) }}
                <button type="submit"  class="btn btn-danger"><i class="fa fa-fw fa-trash"></i>Supprimer</button>
                {{ form_end(delete_form) }}
            </td>
        </tr>
    </table>
{% endblock %}
