{% extends 'base.html.twig' %}

{% block title %}
Nouvelle course
{% endblock %}

{% block body %}
    <h1>Nouvelle course</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.type) }}
    {{ form_row(form.illustration) }}
    {{ form_row(form.date) }}
    {{ form_row(form.entry_fees) }}
    <table style="width: 100%;text-align: center;">
        <tr>
            <td width="50%">
                {{ form_row(form.public) }}
            </td>
            <td  width="50%">
                {{ form_row(form.open) }}
            </td>
        </tr>
    </table>
    <br>
    {{ form_row(form.description) }}
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#race_description_wysiwyg">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" title="Font Size"><i class="glyphicon glyphicon-text-size"></i>&nbsp;<b class="caret"></b></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a data-edit="fontSize 5"><font size="5">Grand</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">petit</font></a></li>
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default" data-edit="bold" title="Gras"><i class="glyphicon glyphicon-bold"></i></button>
            <button type="button" class="btn btn-default" data-edit="italic" title="Italic"><i class="glyphicon glyphicon-italic"></i></button>
            <button type="button" class="btn btn-default" data-edit="strikethrough" title="barré"><strong><strike>S</strike></strong></button>
            <button type="button" class="btn btn-default" data-edit="underline" title="Souligné"><strong><u>U</u></strong></button>
        </div>

        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i class="glyphicon glyphicon-list"></i></button>
            {#<button type="button" class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="glyphicon glyphicon-indent-left"></i></button>#}
            {#<button type="button" class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i class="glyphicon glyphicon-indent-right"></i></button>#}
        </div>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default" data-edit="justifyleft" title="Aligner gauche"><i class="glyphicon glyphicon-align-left"></i></button>
            <button type="button" class="btn btn-default" data-edit="justifycenter" title="Centrer"><i class="glyphicon glyphicon-align-center"></i></button>
            <button type="button" class="btn btn-default" data-edit="justifyright" title="Aligner droite"><i class="glyphicon glyphicon-align-right"></i></button>
            <button type="button" class="btn btn-default" data-edit="justifyfull" title="Justifier"><i class="glyphicon glyphicon-align-justify"></i></button>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Couleur du texte" id="forecolor"><i class="glyphicon glyphicon-text-color"></i></button>
                <ul class="dropdown-menu input-append" aria-labelledby="forecolor">
                    <li>
                        <div class="color turquoise" data-text="#1abc9c"></div>
                        <div class="color emerland" data-text="#2ecc71"></div>
                        <div class="color peter-river" data-text="#3498db"></div>
                        <div class="color amethyst" data-text="#9b59b6"></div>
                        <div class="color wet-asphalt" data-text="#34495e"></div>
                        <div class="color green-sea" data-text="#16a085"></div>
                        <div class="color nephritis" data-text="#27ae60"></div>
                        <div class="color belize-hole" data-text="#2980b9"></div>
                        <div class="color wisteria" data-text="#8e44ad"></div>
                        <div class="color midnight-blue" data-text="#2c3e50"></div>
                        <div class="color sun-flower" data-text="#f1c40f"></div>
                        <div class="color carrot" data-text="#e67e22"></div>
                        <div class="color alizarin" data-text="#e74c3c"></div>
                        <div class="color clouds" data-text="#ecf0f1"></div>
                        <div class="color concrete" data-text="#95a5a6"></div>
                        <div class="color orange" data-text="#f39c12"></div>
                        <div class="color pumpkin" data-text="#d35400"></div>
                        <div class="color pomegranate" data-text="#c0392b"></div>
                        <div class="color silver" data-text="#bdc3c7"></div>
                        <div class="color asbestos" data-text="#7f8c8d"></div>
                        <div class="color white" data-text="#ffffff"></div>
                        <div class="color black" data-text="#000000"></div>
                        <input class="span2" type="text" data-edit="forecolor"/>
                    </li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Couleur du fond" id="backcolor"><i class="glyphicon glyphicon-text-background"></i></button>
                <ul class="dropdown-menu input-append" aria-labelledby="backcolor">
                    <li>
                        <div class="color turquoise" data-text="#1abc9c"></div>
                        <div class="color emerland" data-text="#2ecc71"></div>
                        <div class="color peter-river" data-text="#3498db"></div>
                        <div class="color amethyst" data-text="#9b59b6"></div>
                        <div class="color wet-asphalt" data-text="#34495e"></div>
                        <div class="color green-sea" data-text="#16a085"></div>
                        <div class="color nephritis" data-text="#27ae60"></div>
                        <div class="color belize-hole" data-text="#2980b9"></div>
                        <div class="color wisteria" data-text="#8e44ad"></div>
                        <div class="color midnight-blue" data-text="#2c3e50"></div>
                        <div class="color sun-flower" data-text="#f1c40f"></div>
                        <div class="color carrot" data-text="#e67e22"></div>
                        <div class="color alizarin" data-text="#e74c3c"></div>
                        <div class="color clouds" data-text="#ecf0f1"></div>
                        <div class="color concrete" data-text="#95a5a6"></div>
                        <div class="color orange" data-text="#f39c12"></div>
                        <div class="color pumpkin" data-text="#d35400"></div>
                        <div class="color pomegranate" data-text="#c0392b"></div>
                        <div class="color silver" data-text="#bdc3c7"></div>
                        <div class="color asbestos" data-text="#7f8c8d"></div>
                        <div class="color white" data-text="#ffffff"></div>
                        <div class="color black" data-text="#000000"></div>
                        <input class="span2" type="text" data-edit="backcolor"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink" id="dropdownMenu2"><i class="glyphicon glyphicon-link"></i></button>
            <ul class="dropdown-menu input-append" aria-labelledby="dropdownMenu2">
                <li>
                    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                    <button class="btn btn-default" type="button">Ajouter</button>
                </li>
            </ul>
            <button type="button" class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i class="glyphicon glyphicon-scissors"></i></button>
        </div>

        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="glyphicon glyphicon-picture"></i></button>
            <ul class="dropdown-menu input-append" aria-labelledby="pictureBtn">
                <li>
                    <input type="file" class="btn btn-default" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                </li>
            </ul>
        </div>

    </div>
    <br>
    <div id="race_description_wysiwyg">
    </div>
    {{ form_row(form.max_attendee) }}
    {{ form_row(form.number_of_athlete) }}
    {{ form_row(form.distance) }}
    {{ form_row(form.elevation) }}
    <br>
    <button type="submit" class="btn btn-primary" ><i class="fa fa-fw fa-plus"></i>Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('event_index') }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour</a>
{% endblock %}
