{% if (race.public or (is_granted('ROLE_ADMIN') and race.event.owner == app.user) or is_granted('ROLE_SUPER_ADMIN')) %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        {% if race.illustration %}
        <a href="{{ path('race_show', { 'slug': race.slug }) }}" class="btn btn-default">
            <img src="{{ (race.illustration.webPath) | imagine_filter('my_thumb_race_event') }}" class="img-responsive" alt="{{ race.title }}">
        </a>
        {% else %}
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=eee&txt=image-350%C3%97160&w=350&h=160" class="img-responsive" alt="{{ race.title }}">
        {% endif %}
        <div class="caption">
            <h3>{{ race.title }}&nbsp;<a href="{{ path('type_show', { 'code': race.type.code }) }}"><span class="label label-default">{{ race.type.title }}</span></a>
                {% if (is_granted('ROLE_ADMIN') and race.event.owner == app.user) or is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('race_edit', { 'id': race.id }) }}"><i class="fa fa-pencil fa-fw"></i></a>
                {% endif %}</h3>
            <h4>{% if race.date %}{{ race.date|date('d M Y') }}{% endif %}</h4>
            {% if race.inscriptions|length > 10 %}
                <div class="attendees">{{ race.inscriptions|length }} inscrits</div>
            {% endif %}
            <div class="description">{{ race.description|striptags }}</div>
            <p class="resume"><small>{{ race.resume }}</small></p>
            {% if race.open and not race.isPast %}
            <p>
                <a href="{{ path('race_show', { 'slug': race.slug }) }}" class="btn btn-default"><i class="fa fa-search fa-fw"></i>Détails</a>
                <a href="{{ path('inscription_new', { 'slug': race.slug }) }}" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>S'inscrire</a>
            </p>
            {% else %}
                <p>
                    <a href="{{ path('race_show', { 'slug': race.slug }) }}" class="btn btn-default"><i class="fa fa-search fa-fw"></i>Détails</a>
                    <div class="bt bt-default"><i class="fa fa-ban fa-fw"></i>Inscriptions fermées</div>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}