{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="spacer h50"></div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="{{ 'security.login.username'|trans }}" placeholder="Username" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
                <div class="col-sm-10">
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-default">{{ 'security.login.submit'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>