{% extends 'base.html.twig' %}

{% block title %}
    Evénements
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Mes événements</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in my_events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>
                        <a href="{{ path('event_show', { 'slug': event.slug }) }}" class="btn btn-default"><i class="fa fa-fw fa-search"></i>voir</a>
                        {% if (is_granted("ROLE_ADMIN")) %}
                            {% if event.owner == app.user %}
                                <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-primary"><i class="fa fa-fw fa-pencil"></i>éditer</a>
                                <a href="{{ path('race_new', { 'event_id': event.id }) }}" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Ajouter une course</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h1>Tous les événements</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('event_show', { 'slug': event.slug }) }}" class="btn btn-default"><i class="fa fa-fw fa-search"></i>voir</a>
                    {% if (is_granted("ROLE_ADMIN")) %}
                        {% if event.owner == app.user %}
                            <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-primary"><i class="fa fa-fw fa-pencil"></i>éditer</a>
                            <a href="{{ path('race_new', { 'event_id': event.id }) }}" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Ajouter une course</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('event_new') }}" class="btn btn-default">
        <i class="fa fa-plus"></i>
        Créer un nouvel évènement
    </a>
    {% endif %}
{% endblock %}
